body {
	font-family: 'Lato', sans-serif;
	color: "black";
	font-weight: 300;
}

/*anything starting with a dot is essentially a function*/

.text-muted { /*function to mute text*/
	color: #BCBBBB;
}

.text-thin { /*function to thin text*/
	font-weight: 100;
}

.title-super { /*function to enlarge text to 60 pixels*/
	font-size: 60px;
}

.title-logo { /*function to increase margin of logo from the edge (to 20 pixels)*/
	margin: 20px;
}

img.blast {
	width: 100%;
	height: 271px;
}

img.eutro {
	width: 100%;
	height: 271px;
}

img.sed {
	width: 100%;
	height: 271px;
}

ul {
	font-size: 20px;
}

img.gov {
	width: 50%;
	height: 130px;
}

img.res {
	width: 50%;
	height: 130px;
}

img.trav {
	width: 50%;
	height: 130px;
}

img.fish {
	width: 50%;
	height: 130px;
}

.shadow {
	box-shadow: 10px 10px 5px #888888;
}
